.reddit-extras .button {
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.reddit-extras {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  background: white;
  border-radius: 0.5em;
}

.link .title {
  font-size: x-large;
}

.entry .buttons li a {
  font-size: large;
}


.block-button a {
  color: red !important;
}

#eu-cookie-policy,
section.infobar.listingsignupbar,
.premium-banner-outer,
.promoted,
.post-sharing-button,
.link-save-button,
.hide-button,
.report-button,
.awardings-bar,
.post-crosspost-button,
.give-gold {
  display: none !important;
}
